@*@model PetGrooming.Models.Pet*@
@model PetGrooming.Models.ModelView.UpdatePet
   


@{
    ViewBag.Title = "Update";
}

<h2>Update Pet</h2>
<form action="/Pet/Update/@Model.Pet.PetID" method="POST">
    <div>
        <label for="PetName">Pet Name</label>
        <input type="text" value="@Model.Pet.PetName" id="PetName" name="PetName" class="form-control" />
    </div>
    <div>
        <label for="PetColor">Color</label>
        <input type="text" value="@Model.Pet.Color" id="PetColor" name="PetColor" class="form-control" />
    </div>
    <div>
        <label for="PetWeight">Weight(kg)</label>
        <input type="text" value="@Model.Pet.Weight" id="PetWeight" name="PetWeight" class="form-control" />
    </div>
    <div>
        <label for="SpeciesID">Species Name:</label>
        <select name="SpeciesID" id="SpeciesID"  class="form-control">
            @{
                foreach (var Species in Model.Species)
                {
                    var selected = "";
                    if (Species.SpeciesID == Model.Pet.SpeciesID)
                    {
                        selected = "selected";
                    }

                    <option value="@Species.SpeciesID" @selected>@Species.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <label for="PetNotes">Notes</label>
        <textarea id="PetNotes" name="PetNotes" class="form-control" rows="5">@Model.Pet.Notes</textarea>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-default" />
    </div>

</form>
<div>
    <a href="/Pet/List">Back to List</a>
</div>
